@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #2D2926;
    --secundary-color:#FFFFFF;
    --tertiary-color:#FFCD00;
    --t-alternative:#FFE371;
    --G-font-size: 48px;
    --M-font-size: 32px;
    --P-font-size: 24px;
    --SP-font-size: 16px;
    --XP-font-size: 8px;
    --G-radius: 12px;
    --M-radius: 10px;
    --P-radius: 8px;
}

body{
    font-size: 100%;
    background-color:var(--primary-color);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1dvh;
    align-items: center;
    background-color: var(--tertiary-color);
}

.nome{
    font-family: "Bebas Neue", serif;
    font-size: var(--P-font-size);
}

.nav-menu{
    justify-content: space-around;
}

.nav-item{
    text-decoration: none;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-size: var(--P-font-size);
    color: var(--primary-color);
}

main{
    display: flex;
    flex-direction: column;
}

.home-page{
    display: flex;
    justify-content: space-around;
    padding: 10%;
    gap: 5%;
}

#home-page-will{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#foto-will{
    border: var(--tertiary-color) solid 1px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit:cover;
    padding: 5px;
}

.redes-sociais{
    display: flex;
    background-color: var(--secundary-color);
    border-radius: var(--M-radius);
    justify-content: space-around;
    align-items: center;
    padding: 2%;

}
.link-redes{
    height: 48px;
    width: 48px;
}

.home-page-desc{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    gap: 32px;
    align-items: center;
    background-color: var(--secundary-color);
    border-radius: var(--M-radius);
}

.home-page-desc-h1{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-size: var(--G-font-size);
    color: var(--primary-color);
    text-align: center;

}

.home-page-desc-p{
    font-size: var(--M-font-size);
    color: var(--primary-color);
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}

#botao-contato{
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--tertiary-color);
    padding: 12px 50px;
    border-radius: var(--P-radius);
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-size: var(--P-font-size);

}

#tec-page{
    display: flex;
    flex-direction: column;
}

.head-page{
    background-color: var(--tertiary-color);
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-size: var(--G-font-size);
    color: var(--primary-color);
    text-align: center;
}

.inside-page{
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:var(--secundary-color);
    border-radius: var(--G-radius);
    padding: 32px;
    margin: 32px;
    gap: 10px;
}

.tec-icon-box{
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    align-items: center;
    justify-content: center;
}
.tec-icon{
    height: 100px;
    width: 100px;
}

.tec-desc{
    display: flex;
    border-radius: var(--M-radius);
    background-color: var(--tertiary-color);
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-size: var(--P-font-size);
    color: var(--primary-color);
    text-align: center;
    padding: 32px;
    justify-content: center;
    flex-direction: column;
    max-width: 50%;
    min-height: 40vh;
}


#pag-projetos{
    display: flex;
    flex-direction: column;
}


.projeto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}

.projeto-desc{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: var(--M-radius);
    text-align: center;
    color: var(--secundary-color);
    font-family: "Ubuntu", serif;
    font-weight: 100;
    font-style: normal;
    font-size: var(--P-font-size);
    max-width: 50%;
    
}
.descricao-projeto{
    padding: 10px;
}

.head-projeto{
    background-color: var(--tertiary-color);
    width: 100%;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-size: var(--G-font-size);
    color: var(--primary-color);
    text-align: center;

}
.div-botoes-projeto{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 12Px;
}

.botao-projeto{
    text-decoration: none;
    background-color: var(--tertiary-color);
    padding: 1%;
    border-radius: var(--M-radius);
    color: var(--primary-color);
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-size: var(--p-font-size);
    color: var(--primary-color);
    text-align: center;
}
.img-projeto{
    object-fit: cover;
    border-radius: var(--G-radius);
    border: var(--primary-color) solid;
    height: 200px;
    width: 200px;
}
.sobre-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    font-size: var(--P-font-size);
    color: var(--primary-color);
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

footer{
    padding: 10px;
    border-top: var(--tertiary-color) solid 1px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#imagem-footer{
    height: 100px;
    width: 100px;
    object-fit:cover;
    border: var(--tertiary-color) solid;
    border-radius: 50%;
    padding: 1px;
}

@media(max-width:450px){
    :root{
        --G-font-size: 28px;
        --M-font-size: 20px;
        --P-font-size: 16px;
        --SP-font-size: 12px;
        --XP-font-size: 8px;
        --G-radius: 12px;
        --M-radius: 10px;
        --P-radius: 8px;
    }

    main{
        border: red solid;
    }
    header{
        padding: 2%;
    }

    .home-page{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 12px;
    }
    
    #foto-will{
        margin: 12px;
        width: 150px;
        height: 150px;
        object-fit:cover;
        padding: 5px;
    }
  
    .link-redes{
        height: 24px;
        width: 24px;
    }
    .home-page-desc{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 32px;
        gap: 32px;
        align-items: center;
        background-color: var(--secundary-color);
        border-radius: var(--M-radius);
    }

    #tec-page{
        display: flex;
        flex-direction: column;
    }
    
    
    .inside-page{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;
        margin: 8px;
    }
    
    .tec-icon-box{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .tec-icon{
        height: 48px;
        width: 48px;
    }
    
    .tec-desc{
        display: flex;
        text-align: center;
        padding: 8px;
        justify-content: center;
        flex-direction: column;
        max-width: 100%;
        min-height: 30vh;
    }
    
    #pag-projetos{
        border: blue solid;
    }
    
    
    .projeto{
        border: green solid;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .projeto-desc{
        display: flex;
        flex-direction: column;
        max-width: 100%; 
    }
    .descricao-projeto{
        padding: 10px;
    }

    .img-projeto{
        object-fit: cover;
        border-radius: var(--G-radius);
        border: var(--primary-color) solid;
        height: 100px;
        width: 100px;
    }

}

